@model ApplicationUser
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Myprofile"];
}
<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">@Localizer["Myprofile"]</a>
        </li>
    </ol>

    @if (ViewBag.Message != null && ViewBag.Message == "ChangesSaved")
    {
        <div class="alert alert-success" role="alert">
            @Localizer["ChangesSaved"]
        </div>
    }
    @if (ViewBag.Message != null && ViewBag.Message == "passwordchanged")
    {
        <div class="alert alert-success" role="alert">
        @Localizer["passwordchanged"]
    </div>
}
    @if (ViewBag.Message != null && ViewBag.Message == "passwordNotchanged")
    {
        <div class="alert alert-danger" role="alert">
            @Localizer["passwordNotchanged"]
        </div>
    }
    <form asp-action="Profile" asp-controller="Home" method="post">
        <div class="row">

            <div class="col-6 form-group">

                <div class="form-group">
                    <label asp-for="UserName"></label>
                    <div><span asp-validation-for="UserName" class="text-danger"></span></div>
                    <input asp-for="UserName" class="form-control" readonly />
                </div>

                <div class="form-group">
                    <label asp-for="Email"></label>
                    <div><span asp-validation-for="Email" aria-describedby="emailHelp" class="text-danger"></span></div>
                    <input asp-for="Email" class="form-control" />
                    <small id="emailHelp" class="form-text text-muted">@Localizer["emailhelp"]</small>
                </div>
                <div class="form-group">
                    <label asp-for="FirstName"></label>
                    <div><span asp-validation-for="FirstName" class="text-danger"></span></div>
                    <input asp-for="FirstName" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="LastName"></label>
                    <div><span asp-validation-for="LastName" class="text-danger"></span></div>
                    <input asp-for="LastName" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber"></label>
                    <div><span asp-validation-for="PhoneNumber" class="text-danger"></span></div>
                    <input asp-for="PhoneNumber" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="TwoFactorEnabled"></label>
                    <div><span asp-validation-for="TwoFactorEnabled" class="text-danger"></span></div>
                    @if (Model.TwoFactorEnabled)
                    {
                        <input asp-for="TwoFactorEnabled" data-toggle="toggle" checked />
                    }
                    else
                    {
                        <input asp-for="TwoFactorEnabled" data-toggle="toggle" />
                    }
                </div>
               
            </div>

            <div class="col-6 form-group">
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">@Localizer["usefulinfotitle"]</h4>
                    <p>@Localizer["usernameinfo"]</p>
                    <hr>
                    <p class="mb-0">@Localizer["passwordinfo"]</p>
                </div>
                <button class="btn btn-warning" asp-action="PasswordChange"> @Localizer["Changepass"]</button>
            </div>
        </div>

        <button class="btn btn-primary" type="submit"> @Localizer["Savechanges"]</button>
    </form>



    </div>



