@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="ProjectNow.gr">
    <title>@ViewData["Title"] Cloud CRM - ProjectNow</title>

</head>
<body class="bg-dark">
    <div class="container">
        <img src="~/images/LogoCloudWhite.png" alt="Cloud CRM" style="display: block;margin:auto;margin-top:20px;" />
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">@Localizer["Login"]</div>
            <div class="card-body">

                @RenderBody()

                <div class="text-center">
                    <a class="d-block small mt-3" asp-action="Register" asp-controller="User">@Localizer["RegisterΑnAccount"]</a>
                    <a class="d-block small" asp-action="ForgotPassword" asp-controller="User">@Localizer["ForgotPassword"]</a>
                </div>
            </div>
        </div>
    </div>
    <environment names="Development">
        <script src="~/dist/main.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/dist/main.js" asp-append-version="true"></script>
    </environment>
    
</body>
</html>
